/* Empty. Add your own CSS if you like */
.login {
  /*background: url('../img/smg_contorno_transparente.png');*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.desa {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.webPage{
   width: 100%; 
    height: 100%; 
	position: relative; 
	padding-bottom: 56.25%;

   overflow: hidden;}
.webPage iframe 
 { 
    position: absolute; 
    display: block; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}